{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Index Page</h1>
    <div class="row text-center">
        {% for pizza in pizzas %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img src="{{ pizza.image.url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ pizza.title }}</h5>
                    <h4 class="card-text">${{ pizza.price }}</h4>
                    <p class="card-text">{{ pizza.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
